* {
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body > header {
    background-color: darkred;
    color:#ffffff;
    p
    padding: 15px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li {
    display: inline;
    margin: 5px;
}

header a {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    color: darkred;
    padding: 10px;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    background-color: darkred;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

h2{
    font-size: 30px;
    color: #ffffff;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.articles article img {
    width: 100%;
    border-radius: 5px;
}

.articles article {
    width: 30%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}

.articles article header {
    font-size: 12px;
}

.articles article, h2 {
    margin-bottom: 20px;
}

#sports {
    background: linear-gradient(#FF5D00,#FF3600);
    padding: 15px;
}

#sports a {
    color: #ffffff;
    background-color: #FF5D00;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#sports a:hover {
    color: #FF5D00;
    background-color: #ffffff;
    border: 1px solid #FF5D00;

    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#economy {
    background: linear-gradient(#00D817,#1C6F25);
    padding: 15px;
}

#economy a {
    color: #ffffff;
    background-color: #008710;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#economy a:hover {
    color: #008710;
    background-color: #ffffff;
    border: 1px solid #008710;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#technology {
    background: linear-gradient(#0038C2,#38C3FF);
    padding: 15px;
}

#technology a {
    color: #ffffff;
    background-color: #0038C2;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#technology a:hover {
    color: #0038C2;
    background-color: #ffffff;
    border: 1px solid #0038C2;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#entertainment {
    background: linear-gradient(#DC008C,#A000DC);
    padding: 15px;
}

#entertainment a {
    color: #ffffff;
    background-color: #DC008C;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

#entertainment a:hover {
    color: #DC008C;
    background-color: #ffffff;
    border: 1px solid #DC008C;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}